.newsCart {
    display: grid;
    grid-template-columns: repeat(4,350px);
    column-gap: 20px;
    row-gap: 20px;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #1a227e78;
}

.newsBox {
    background-color: #B3E5FC;
    display: flex;
    flex-direction: column;
    height: 415px;
    align-items: center;
    padding: 20px 10px;
    color: #1A237E;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    gap: 5px;
    overflow: hidden;
    transition: all 250ms ease-in;
}

.newsBox img {
    border-radius: 5px;
}
.newsBox h1 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
}
.newsBox .creds {
    display: flex;
    gap: 25px;
}
.newsBox h2 {
    color: #1a227e75;
}
.newsBox h3 {
    font-weight: 500;
}

.newsBox:hover {
    transform: translateY(-5px);
    background-color: #8ad9fe;
    border: #1A237E 1px solid;
}

@media screen and (max-width:1500px) {
    .newsCart {
        grid-template-columns: repeat(3,400px);
    }
}
@media screen and (max-width:1260px) {
    .newsCart {
        grid-template-columns: repeat(3,350px);
    }
}
@media screen and (max-width:1110px) {
    .newsCart {
        grid-template-columns: repeat(2,450px);
    }
}
@media screen and (max-width:950px) {
    .newsCart {
        grid-template-columns: repeat(2,400px);
    }
}
@media screen and (max-width:840px) {
    .newsCart {
        grid-template-columns: repeat(2,350px);
    }
}
@media screen and (max-width:740px) {
    .newsCart {
        grid-template-columns: repeat(1,1fr);
    }
}